.pop-up-container{
    position: fixed;
    top: 0;
    left: 0;

    overflow-y: scroll;

    z-index: 99999;

    padding: 24px;

    border-radius: 32px;

    background: #1c12076c;

    width: 100%;
}